In [1]:
#importing necessary libraries
import pandas as pd
import glob
import os
import warnings
import time
import sys
import matplotlib.pyplot as plt
import seaborn as sns
# importing custom scripts for different functions
sys.path.append('scripts')  # add scripts to path




# Ignore warnings
warnings.filterwarnings("ignore")

In [6]:
combined_data = pd.read_csv("combined.csv")
combined_data.head(10)

,Commodity,Classification,Grade,Sex,Market,Wholesale,Retail,Supply Volume,County,Date
0,Banana (Ripening),-,-,-,Mukuyu Market,-,50.00/Kg,NaN,Muranga,2026-02-11
1,Banana (Ripening),-,-,-,Mulot,70.00/Kg,100.00/Kg,1500.0,Bomet,2026-02-11
2,Banana (Ripening),-,-,-,Kitale Municipality Market,80.00/Kg,100.00/Kg,6000.0,Trans-Nzoia,2026-02-11
3,Banana (Ripening),-,-,-,Kerugoya,20.00/Kg,40.00/Kg,300.0,Kirinyaga,2026-02-10
4,Banana (Ripening),-,-,-,Bondeni,80.00/Kg,100.00/Kg,5000.0,Trans-Nzoia,2026-02-10
5,Banana (Ripening),-,-,-,Maua,20.00/Kg,30.00/Kg,1500.0,Meru,2026-02-10
6,Banana (Ripening),-,-,-,Wundanyi,-,80.00/Kg,1000.0,Taita-Taveta,2026-02-10
7,Banana (Ripening),-,-,-,Kitale Municipality Market,80.00/Kg,100.00/Kg,5000.0,Trans-Nzoia,2026-02-10
8,Banana (Ripening),-,-,-,Kabati - Muranga,-,40.00/Kg,NaN,Muranga,2026-02-09
9,Banana (Ripening),-,-,-,Kutus,17.00/Kg,20.00/Kg,24000.0,Kirinyaga,2026-02-09

In [7]:
combined_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57010 entries, 0 to 57009
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Commodity       57010 non-null  object
 1   Classification  57010 non-null  object
 2   Grade           57010 non-null  object
 3   Sex             57010 non-null  object
 4   Market          57010 non-null  object
 5   Wholesale       57010 non-null  object
 6   Retail          57010 non-null  object
 7   Supply Volume   39235 non-null  float64
 8   County          56991 non-null  object
 9   Date            57010 non-null  object
dtypes: float64(1), object(9)
memory usage: 4.3+ MB

**DATA CLEANING**

In [8]:
combined_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57010 entries, 0 to 57009
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Commodity       57010 non-null  object
 1   Classification  57010 non-null  object
 2   Grade           57010 non-null  object
 3   Sex             57010 non-null  object
 4   Market          57010 non-null  object
 5   Wholesale       57010 non-null  object
 6   Retail          57010 non-null  object
 7   Supply Volume   39235 non-null  float64
 8   County          56991 non-null  object
 9   Date            57010 non-null  object
dtypes: float64(1), object(9)
memory usage: 4.3+ MB

The next consequent step in this process is to carry out mapping of the ommodities in a clear manner. The essence of mapping in this process is to ensure a  consistency when analayzing  or visualizing data. we will rely on the .map() function each commodity in the combined _data is actually assigned its respective  category based on the dictionary.This step isneeded for easier aggregation,comparision and trend analysis later on of different commodity groups in  the dataset.(**Source ya the last statement here ni Chatgpt**)

In [26]:


commodity_category_mapping = {
    'meat beef': 'meat, fish and eggs',
    'cabbages': 'vegetables and fruits',
    'banana (cooking)': 'vegetables and fruits',
    'cowpea leaves (kunde)': 'vegetables and fruits',
    'cowpeas': 'pulses and nuts',
    'dry onions': 'vegetables and fruits',
    'dry maize': 'cereals and tubers',
    'finger millet': 'cereals and tubers',
    'maize flour': 'cereals and tubers',
    'kales/sukuma wiki': 'vegetables and fruits',
    'omena': 'meat, fish and eggs',
    'red irish potato': 'cereals and tubers',
    'Cow milk(Processd)': 'milk and dairy',
    'beans red haricot (wairimu)': 'pulses and nuts',
    'red sorghum': 'cereals and tubers',
    'rice': 'cereals and tubers',
    'banana (ripening)': 'vegetables and fruits',
    'spinach': 'vegetables and fruits',
    'wheat': 'cereals and tubers',
    'beans (yellow-green)': 'pulses and nuts'
}

#create sasa a new column ya categories
combined_data['Category'] = combined_data['Commodity'].map(commodity_category_mapping)

combined_data.head()

,Commodity,Classification,Grade,Sex,Market,Wholesale,Retail,Supply Volume,County,Date,Category
0,banana (ripening),-,-,-,Mukuyu Market,-,50.00/Kg,NaN,Muranga,2026-02-11,vegetables and fruits
1,banana (ripening),-,-,-,Mulot,70.00/Kg,100.00/Kg,1500.0,Bomet,2026-02-11,vegetables and fruits
2,banana (ripening),-,-,-,Kitale Municipality Market,80.00/Kg,100.00/Kg,6000.0,Trans-Nzoia,2026-02-11,vegetables and fruits
3,banana (ripening),-,-,-,Kerugoya,20.00/Kg,40.00/Kg,300.0,Kirinyaga,2026-02-10,vegetables and fruits
4,banana (ripening),-,-,-,Bondeni,80.00/Kg,100.00/Kg,5000.0,Trans-Nzoia,2026-02-10,vegetables and fruits

In [19]:
print(combined_data['Commodity'].unique())

['banana (ripening)' 'beans red haricot (wairimu)' 'meat beef' 'cabbages'
 'banana (cooking)' 'cowpeas' 'cowpea leaves (kunde)' 'dry maize'
 'dry onions' 'finger millet' 'maize flour' 'kales/sukuma wiki' 'omena'
 'red irish potato' 'red sorghum' 'rice' 'spinach' 'wheat'
 'beans (yellow-green)']

In [27]:
combined_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57010 entries, 0 to 57009
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Commodity       57010 non-null  object
 1   Classification  57010 non-null  object
 2   Grade           57010 non-null  object
 3   Sex             57010 non-null  object
 4   Market          57010 non-null  object
 5   Wholesale       57010 non-null  object
 6   Retail          57010 non-null  object
 7   Supply Volume   39235 non-null  float64
 8   County          56991 non-null  object
 9   Date            57010 non-null  object
 10  Category        57010 non-null  object
dtypes: float64(1), object(10)
memory usage: 4.8+ MB

In [28]:
# Dropping of column  "sex" and "grade" they are actually not  needed in our works 
combined_data.drop(columns=['Sex','Grade'], inplace=True, axis=1)

In [29]:
combined_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57010 entries, 0 to 57009
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Commodity       57010 non-null  object
 1   Classification  57010 non-null  object
 2   Market          57010 non-null  object
 3   Wholesale       57010 non-null  object
 4   Retail          57010 non-null  object
 5   Supply Volume   39235 non-null  float64
 6   County          56991 non-null  object
 7   Date            57010 non-null  object
 8   Category        57010 non-null  object
dtypes: float64(1), object(8)
memory usage: 3.9+ MB